In [2]:
valor = 0
print("inicial: "+ valor)

TypeError: can only concatenate str (not "int") to str

En el ejemplo anterior se puede ver el mensaje de error en la linea [2] y me dice que SOLO SE PUEDEN CONCATENAR STR, NO SE PUEDEN CONCATENAR INT 
Por esta razon se debe usar str para convertir ese valor que tiene "valor", que es un numero (int) a un str

In [3]:
valor = 0
print("inicial: "+ str(valor))

inicial: 0

Como se puede ver, ahora si imprimio el mensaje de "inicial: 0"

In [4]:
valor=1
print("inicial: "+str(valor))
valor=valor+1
print("final: "+str(valor))

inicial: 1
final: 2

In [5]:
#PUEDO USAR UNA MANERA RESUMIDA DE LA OPERACION VALOR+1 DE LA SIGUIENTE MANERA:
valor=1
print("inicial: "+str(valor))
valor+=1
#OBSERVAR QUE SE ESCRIBE LA EXPRESION RESUMIDA Y SE LE DICE A LA OPERACION COJA VALOR Y LE SUME UN VALOR=1 - OPERADOR MAS LA ASIGNACION
print("final: "+str(valor))

inicial: 1
final: 2

MISMO RESULTADO, MENOS CODIGO

OTRA COSA: EN LAS OPERACIONES ANTERIORES SE VE QUE EL VALOR CAMBIA A MEDIDA QUE VOY INDICANDO LOS CAMBIOS MAS ABAJO, PYTHON VA EJECUTANDO LAS OPERACIONES DE ARRIBA HACIA ABAJO CUMPLIENDO LAS ORDENES DESDE LA PRIMERA A LA ULTIMA (A NO SER QUE SE LE INDIQUE LO CONTRARIO)

In [6]:
5+3*2

11